[user]
        name = Anita
        email = anita@x.y
[color]
        ui = auto
[status]
        submoduleSummary = true
[diff]
        submodule = log
[pull]
        rebase = true
[rerere]
        enabled = true

[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f

